{% extends 'core/base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        {% if object %}Editar Orçamento{% else %}Novo Orçamento{% endif %}
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url 'core:orcamento_list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
